body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #1e90ff;
    color: white;
}

.fs1{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-bottom: 0px;

}


.fs2{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-top: 0px;
    border-bottom: 0px;
}

.fs3{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-top: 0px;
    border-bottom: 0px;
}

.fs4{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-top: 0px;
    border-bottom: 0px;
}

.fs5{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-top: 0px;
    border-bottom: 0px;
}

.fs6{
    color: black;
    display: flex;
    padding: 40px;
    border-color: black;
    border-style: outset;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    border-top: 0px;
}

.botoes {

    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

button {

    padding: 10px 20px;
    font-size: 16px;
}